<html>
    <body>
        <h1>CHAT:</h1>
<div>
  <input type="text" id="chatBox" placeholder="Escribe aquí...">
  <button id="sendBtn">Enviar</button>
</div>
<div>
  <p id="messageLogs" class="message"></p>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script> 

  </html>