<h2>Restaurar Contraseña</h2>

<form id="forgotForm">
  <label>Correo</label>
  <input type="mail" name="email" />

  <button type="submit">Crear nueva contraseña</button>
</form>

<script src="/js/forgotPassword.js"></script>