<form action="" method="post"  id="loginForm">
   
  <label for="email">Correo electrónico:</label>
  <input type="email"  name="email"><br><br>
  
  <label for="password">Contraseña:</label>
  <input type="password"  name="password"><br><br>
  
  <input type="submit" value="Enviar">
</form>

<script src="/js/login.js"></script>