<h2>Ingresa tu nueva contraseña</h2>

<form action="" method="POST" id="resetForm">
    <label for="password">Contraseña:</label>
    <input type="password" name="password"/>

    <button type="submit">Restaurar contraseña</button>
</form>
<script src="/js/resetPassword.js"></script>