<body>
  <form action="" method="" id="signupForm">
    <label for="first_name">Nombre:</label>
    <input type="text" name="first_name" /><br /><br />

    <label for="last_name">Apellido:</label>
    <input type="text" name="last_name" /><br /><br />

    <label for="age">Edad:</label>
    <input type="number" name="age" /><br /><br />

    <label for="email">Correo electrónico:</label>
    <input type="email" name="email" /><br /><br />

    <label for="password">Contraseña:</label>
    <input type="password" name="password" /><br /><br />

    <input type="submit" value="Enviar" />
    <a href="/login" class="btn-primary" id="loginLink">Login</a>
  </form>

</body>

<script src="/js/signup.js"></script>